@import url(//db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP:wght@100&display=swap');
.headerStyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 85vh;
    
    
    .cardP{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 50%;

       margin-left: 45rem;
       
    }
    .playerCard{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .playerImg{
        position: absolute;
         z-index: 1;
         clip-path: polygon(1% 95%, 66% 94%, 100% 60%, 100% 1%, 0% 0%);
        
    }
    
    .playerBack{
        height: fit-content;
        position: relative;
    }
    .tittleHeader{
        font-family: Neue Machina,sans-serif;
        width:  650px;
        
        color: #FFFFFF;
        display:flex;
        flex-direction: column;
        margin-left: 14rem;
        position: absolute;
        top: 25rem;
        font-style: normal;
        align-items: center;
        justify-content:center;
        h1{
            font-weight: bolder;
            text-shadow: 2px 2px #ff0000;
        }
        .palabraRoja{
            color: #D6302A;
            text-shadow: 2px 2px #791b1b;
        }
        
        
    }
    .headerButton1 {
        width: 189px;
        height: 33px;
        border: none;
        background-color: #D6302A;
        clip-path: polygon(0 50%, 10% 0, 100% 0%, 100% 63%, 90% 100%, 0 100%);
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 600;
    }
    .headerButton1:hover{
        background-color: #631916;
        cursor: pointer;
    }
    .headerButton2 {
        width: 189px;
        height: 33px;
        border: none;
        background-color: #0039FF;
        clip-path: polygon(0 50%, 10% 0, 100% 0%, 100% 63%, 90% 100%, 0 100%);
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 600;
    }
    .headerButton2:hover{
        background-color: #607eecb2;
        cursor: pointer;
    }
    .descriptionPage{
        
        width:500px ;
        display: flex;
        align-content: flex-start;
        margin-left: 19rem;
        color: rgb(163, 163, 163);
        font-family: Montserrat,sans-serif;
        position: absolute;
        top: 32rem;
        padding: 3px;
        text-shadow: 0.5px 0.5px #0f0f0f;

    }
    .headerButtons{
        position: absolute;
        left: 19rem;
        top: 38rem;
    }
}

.subTittleCollect{
    display: flex;
     flex-direction: column;
     
     align-content:flex-start;
     
     margin-bottom: 4px;
     h4{
        font-family: Neue Machina, sans-serif;
        font-weight: 600;
        color: rgb(219, 217, 217);
        text-shadow: 1px 1px #b30404;
        
        max-width: 19rem;
        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left: 6rem;
        margin-bottom: 1px;
        
     }
    h2{
        font-family: Neue Machina, sans-serif;
        font-weight: 600;
        color: rgb(219, 217, 217);
        
        
        max-width: 19rem;
        height: 3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-shadow: 1px 1px #b90f0f;
        
        margin-left: 6rem;
    }


}
.cardsContainer1{

    .textCardContainer{
        background-color: #b30404;
        height: 3rem;
        max-width: 10rem;
        margin-left: 3.5rem;
        position: absolute;
        top: 55rem;
        h2{
            font-size: xx-large;
        }
    }
}

.collectionsButtons{
  
   display: flex;
   flex-direction: row;
   justify-content: center;
  
    .buttonToken {
        width: 189px;
        height: 33px;
        border: none;
        background-color: #0f2574b2;
        clip-path: polygon(0 50%, 10% 0, 100% 0%, 100% 63%, 90% 100%, 0 100%);
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 600;
        border: solid 3px #0039FF;
        margin-bottom: 1rem;
        
    }
    .buttonToken:hover{
        cursor: pointer;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(5, 47, 95) 15%, rgb(29, 71, 185) 64%, rgba(81, 174, 211, 0.795) 100%);
        transition: 2200ms;
    }
    .buttonBlog{
        width: 189px;
        height: 33px;
        border: none;
        background-color: #0f2574b2;
        clip-path: polygon(0 50%, 10% 0, 100% 0%, 100% 63%, 90% 100%, 0 100%);
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 600;
        margin-left: 0.5rem;
        border: solid 3px #0039FF;
        margin-bottom: 1rem;
    }
    .buttonBlog:hover{
        cursor: pointer;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgb(5, 47, 95) 15%, rgb(29, 71, 185) 64%, rgba(81, 174, 211, 0.795) 100%);
        transition: 1200ms;
    }
}
