@import url(//db.onlinewebfonts.com/c/38d41072aa88a50711d4d50dd0d50f6b?family=Neue+Machina);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Noto+Sans+JP:wght@100&display=swap');

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
    color: #e1e1eb;
    padding-top: 30px; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px; 
    font-family: Montserrat,sans-serif;
    
    a{
        text-decoration: none;
    }
    .logoStyle {
        width: 239px;
        height: 42px;
    }
    
    .enlaces{
        
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        color: rgb(218, 218, 218);

        .item {
            margin: 1.5rem;
            color: #e1e1eb;
            text-shadow: 0.8px 0.8px #0f0f0f;
            a {
                text-decoration: none;
                color: rgb(218, 218, 218);
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1rem;
                
                
                
            }
        }

    }
    a:visited {
        color: white; /* verde */
        }
   
}
.registro {
    width: 189px;
    height: 33px;
    border: none;
    background-color: #D6302A;
    clip-path: polygon(0 50%, 10% 0, 100% 0%, 100% 63%, 90% 100%, 0 100%);
    font-size: 1rem;
    color: #FFFFFF;
    font-weight: 600;
}
.registro:hover{
    background-color: #631916;
    cursor: pointer;
}
.navMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 118px;
    padding-right: 118px;
    background-color: #0039FF;

    height: 37px;
}
.navList    {
    height: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    background-color: #0039FF;
    font-family:Montserrat,sans-serif ;
    a{
        text-decoration: none;
        color: #15151A;
    }
    ul,li,a {
        list-style: none;
        display: block;
        background-color: #0039FF;
        padding: 4px;

    }
  .navList, a:hover{
        background-color: #e1e3eca2;
        border-radius: 5px;
        
    } 
    li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }
     li:hover > ul{
        display: block;
        border-radius: 5px;
    }
   
   .navList > li{
        float: left;
    }
    
    // .idiomeContainer {
    //     border: solid 1px blanchedalmond;
        
    //     margin-left: 50rem;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: flex-end;
    // }
}

