.searchBarLine{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 338px;
    height: 36px;
    background-color: transparent;
    clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
    padding: 0, 15px, 0 15px;
    .searchBar{
        width: 336px;
        height: 33px;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        border: solid 3px rgb(170, 71, 53);
        border-radius: 10px;
        background-color: transparent;
        clip-path: polygon(0 20%, 5% 0, 100% 0%, 100% 80%, 95% 100%, 0 100%);
        padding: 0, 15px, 0 15px;
        .input{
            width: 60%;
            font-size: 1rem;
            color: #f7eeee;
            background: transparent;
            border: none;
            outline: none;
            text-transform: uppercase;
            &:focus {
                outline: none;
                border: none;
            }
            &:active {
                outline: none;
                border: none;
            }
            
        }

        .lupa{
            width: 18px;
            height: 18px;
            color: #FFFFFF;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}