@use '../utilities/variables' ;

.light {
    .background {
        
        background: rgb(72,198,215);
        background: linear-gradient(130deg, rgba(72,198,215,1) 3%, rgba(163,244,255,1) 22%, rgba(198,237,236,1) 54%, rgba(151,199,207,1) 86%);
        min-height: 100vh;
        height: 100%;  
    }
}

.dark {
    .background {
        background: rgb(12,15,96);
        background: linear-gradient(130deg, rgba(12,15,96,1) 3%, rgba(12,105,117,1) 22%, rgba(25,35,143,1) 39%, rgba(7,23,82,1) 86%);
        min-height: 100vh;
        height: 100%;  
    }

}